.bg-container{
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  text-align: center;
  color: #ffffff;
}
.container{
  width: 30vw;
  background-color: cornflowerblue;
  padding: 10px;

}
.userlist{
  list-style-type: none;
  padding-left: 0%;
  
}