.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 40px;
}
.name{
    font-size: 18px;
}
.desc{
    font-weight: bold;
    font-size: 14px;
}
.user-desc{
    margin-left: 40px;
}
.card-container{
    
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
